<%= link_to unlike_publication_path(publication), method: :get, remote: true, class: 'unlike_publication' do %>
	<button class="ui basic compact icon right floated button vote_count">
		<i class="heart icon" style="color: #EDB0B1"></i> <%= publication.get_likes.size %>
	</button> 
<% end %>