<div class="container">

  <!-- Header
  ================================================== -->

  <%= render(:partial => 'shared/header')%>

  <!-- ****** Large Announcement ****** -->
  <div class="announcement">
    <h1>
      A collection of resources to help designers learn and grow.
    </h1>
  </div>
</div>

<script>
  scrollToDiv();
  stickyNav();
  themeColor();
</script>