<div class="footer">
	<div class="footerContent">
		<p>
			<a href="https://twitter.com/sansfrancis_co" target="_blank">Twitter</a>&nbsp &nbsp &nbsp
			<a href="mailto:robinson@greig.io?subject=Sponsor Sans Francisco" target="_blank">Sponsor</a> &nbsp &nbsp &nbsp
			<%= link_to "Design Jobs", jobs_path %>
		</p>
		<p class="about">
			A project by <a href="/users/robinsongreig">Robinson Greig</a>
		</p>
		<p>
			<%= link_to "Privacy", controller: "pages", action: "privacy" %> &nbsp &nbsp &nbsp
			<%= link_to "Terms", controller: "pages", action: "terms" %>
		</p>
	</div>
</div>
