<div class="footer">
	<div class="footerContent">
		<p>
			<a href="https://twitter.com/sansfrancis_co" target="_blank">Twitter</a>&nbsp &nbsp &nbsp
			<a href="mailto:hello@sansfrancis.co?subject=Sponsor Sans Francisco" target="_blank">Sponsor</a> &nbsp &nbsp &nbsp
			<%= link_to "Design Jobs", jobs_path %>
		</p>
		<p class="about">
			A project by <a href="/users/robinsongreig">Robinson Greig</a>
		</p>
	</div>
</div>