<div class="footer">
	<div>
		<p>A project by <%= link_to "Trevor Ford", "http://www.trevorjford.com/", class: "simple-link" %></p>
	</div>
	<div>
		<%= link_to "Privacy", {controller: "pages", action: "privacy"}, class: "simple-link" %>
		<%= link_to "Terms", {controller: "pages", action: "terms"}, class: "simple-link" %>
	</div>
</div>
