<div class="header">
  <%= link_to root_path do %>
    <h3 class="logo">sans francisco</h3>
  <% end %>
  <% if current_user %>
    <%= link_to image_tag(current_user.image_url, alt: current_user.name, class: "user-avatar"), current_user %>
  <% else %>
    <%= link_to "Sign In", "/auth/twitter", class: "login-link" %>
  <% end %>
</div>
