<!--
<div class="newsletterBlock">
  <li>
    Sans Francisco Weekly<br><span style="font-family: 'Source Sans Pro', sans-serif;">New tools and links sent  weekly.</span>
  </li>
  <form action="//sansfrancis.us13.list-manage.com/subscribe/post?u=ff2cc04426b8359a5ba60e9bc&amp;id=fe9204d2d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="ui action input">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
      <button class="ui button">Subscribe</button>
    </div>
  </form>
</div>
-->

