<div class="newsletterBlock">
  <li>
    The internet needs more pink buttons.
  </li>
    <a href="https://twitter.com/home?status=Sans%20Francisco%20is%20a%20collection%20of%20tools%20to%20help%20designers%20craft%20delightful%20experiences.%20www.sansfrancis.co%20via%20%40robinsongreig%20%23design" target="_blank">
      <button class="ui basic fluid twitter button tweetThis">
        <i class="twitter icon"></i>
        Tweet
      </button>
    </a>
</div>

