<div class="newsletterBlock">
  <li>
    Sans Francisco Weekly<br><span style="font-family: 'Source Sans Pro', sans-serif;">New tools and links sent  weekly.</span>
  </li>
  <form action="//sansfrancis.us13.list-manage.com/subscribe/post?u=ff2cc04426b8359a5ba60e9bc&amp;id=fe9204d2d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="ui action input">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
      <button class="ui button">Subscribe</button>
    </div>
  </form>
</div>

<!--
<div id="carbon-ads">
    <span>
        <span class="carbon-wrap">
            <a class="carbon-img" href="[link]">
                <img src="[img]" width="130" height="100" border="0">
            </a>
            <a class="carbon-text" href="[link]">[text]</a>
        </span>
        <a class="carbon-poweredby" href="http://carbonads.net/">ads via Carbon</a>
    </span>
</div>
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=sansfrancisco" id="_carbonads_js"></script>
-->
