<div class="container">
  <div class="header">
    <h3>
      Sans<br>
      Francisco
    </h3>
    <p>
      <strong>Jobs</strong>
    </p>
    <p>
      <strong>Learn</strong>
    </p>
    <p class="active">
      <strong>Resources</strong>
    </p>
  </div>

  <div class="announcement">
    <h1>
      A curated list of resources for digital designers.
    </h1>
  </div>

  <div class="mainContent">
    <div class="sideNav">
      <ul>
        <div class="navItem activeNavItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">User Research</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Typography</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Color Palette</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Iconography</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Stock Photos</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Prototyping</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Vector Tools</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Device Mockups</a></li>
        </div>
        <div class="navItem">
          <div class="navMarker"><i></i></div>
          <li><a href="#">Community</a></li>
        </div>
      </ul>
    </div>
    <div class="dataTable">
      <p>test</p>
    </div>
  </div>
</div>





