/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Table of Contents
==================================================
	#Data Table
	#Profile
*/

@import "variables";
$font-family: $primary-font;
@import "semantic-ui/elements/button";
@import "semantic-ui/elements/icon";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  font-family: $secondary-font;
}

.container > * {
  padding: 2rem;

  @media (min-width: $desktop) {
    padding: 3rem 10rem;
  }
}


/*
*** header
*/

.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logo{
  font-weight: $heavy;
  -webkit-text-stroke: 0.5px #95a5a6;
  color: $white;
  font-size: 30px;
}

.user-avatar{
  border-radius: 100%;
	height: 35px;
  position: relative;
  top: 2px;
	width: 35px;
}

.hero{
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  @media (min-width: $desktop) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.login-link {
  font-weight: $heavy;
  padding: 0.5rem;
  transition: $transition;

  &:hover {
    background-color: $blue;
  }
}


/*
*** layout
*/

.main-content {
  align-items: flex-start;
  display: flex;
}

.sidebar {
  display: none;

  @media (min-width: $desktop) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    position: sticky;
    position: -webkit-sticky;
    top: 3rem;
  }
}

.sidebar,
#resources {
    flex: 1;
}

$nav-links: (
  1: $red,
  2: $orange,
  3: $yellow,
  4: $green,
  5: $teal,
  6: $blue,
  7: $dark-blue,
  8: $purple,
  9: $pink
);

@each $number, $color in $nav-links {
  .nav-item:nth-child(#{$number}){
  	.nav-item__mark{
  		background: $color;
  	}
  	.nav-item__mark::before {
  		border-left: 1rem solid $color;
  		border-top: 1rem solid $color;
  	}
  }
}

.nav-item {
  display: flex;
  padding: 1rem 0;
}

.nav-item:not(first-of-type) {
  margin-top: 0.5rem;
}

.nav-item__mark {
  height: 2rem;
  width: 3rem;
  float: left;
  position: relative;
}

.nav-item__mark::before {
	position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 10px solid transparent;
  left: 3rem;
  top: 0;
  content: '';
}

.nav-item__label {
  position: relative;
  left: 0;
}

.nav-item:hover {

	.nav-item__mark {
		width: 6rem;
	}

	.nav-item__mark::before {
		left: 6rem;
	}

  .nav-item__label {
    left: -3rem;
  }
}

.nav-item__mark, .nav-item__mark::before, .nav-item__label {
	transition: $transition;
}

/* #Data Table
================================================== */

.breakerBar{
	height: 10px;
	width: 50px;
  margin-bottom: 3rem;
}

@each $number, $color in $nav-links {
  .resources__section:nth-of-type(#{$number}) {
    .breakerBar {
      background: $color;
    }
  }
}

.resource__label {
	background: $red;
  color: $white;
  margin-left: 1rem;
	padding: 2px 5px;

	span {
    color: $white;
		font-weight: 800;
    font-size: 1.2rem;
		letter-spacing: 1px;
    text-transform: uppercase;
	}
}

.resource{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.resource__title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;

  a {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  h3 {
    margin-left: 0.6rem;
    transition: $transition;

    &:hover {
      color: $blue;
    }
  }
}

.resource__favicon{
  width: 24px;
  height: 24px;
  background: center center no-repeat;
}

.resource__description {
  line-height: 2.4rem;
  margin-left: 3rem;
}

.ui.basic.buttons .button, .ui.basic.button {
  font-size: 1.4rem;
  font-weight: $heavy;
}

a.simple-link {
  color: $black;
  border-bottom: 2px solid $blue;
  text-decoration: none;
  transition: $transition;

  &:hover {
    border-bottom: 2px solid transparent;
    color: $blue;
  }
}

.ui.button.circular {
  font-size: 1.6rem;
  background-color: $blue;
  transition: $transition;
  margin-top: 3rem;

  i.twitter.icon {
    margin-right: 1rem !important;
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  div:first-of-type {
    margin-right: 5rem;

    .simple-link {
      margin: 0;
    }
  }

  .simple-link {
    margin: 0 1rem;
  }
}

.profile-photo{
  display: block !important;
  width: 20rem;
  border-radius: 2rem;
  border: 0.5rem solid $white;
  margin: -10rem 0 2rem;
  box-shadow: 0px 2px 4px #eee;
}

.sidebar--user p {
  margin: 1rem 0;
  max-width: 250px;
}

.static-page{
	h2{
		text-align: center;
	}
	.announcement{
		margin-bottom: 45px;
	}
	a{
		color: #B0DAED !important;
	}
}

#error_explanation{
	li{
		float: none;
		clear: none;
		margin: 0 0 0 20px;
		color: $black;
		list-style-type: circle;
		font-size: 18px;
	}
	h2{
		font-size: 18px;
	}
}
