@import "variables";

h1,
h2,
h3{
	font-family: $primary-font;
  margin: 0;
}

h1 {
  font-size: 6.4rem;
  font-weight: $heavy;
  line-height: 7rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: $medium;
  line-height: 4rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: $normal;
  line-height: 3rem;
}

p,
li,
a,
input {
	font-size: 1.8rem;
  font-weight: $normal;
  line-height: 2rem;
  margin: 0;
}

p {
	line-height: 2.8rem;
}

body{
	color: $black;
  margin: 0;
}

ul{
	list-style-type: none;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:focus{
	color: $black;
	text-decoration: none;
}

a:hover{
	background-color: transparent;
	color: $black;
}

.static-page {
  p {
    margin: 1rem 0;
  }

	h3 {
		margin: 3rem 0 1rem;
	}
}
